.PortfolioList{
  margin: 3vw;
  border-radius: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  justify-items: center;

  .Link{
    text-decoration: none;
    color: white;
  }

  .title{
    font-size: 24px;
    font-weight: bold;
  }

  .card{
    width: 300px;
    margin: auto;
    height: 380px;
    padding: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    border-radius: 1em;
    border: solid 4px white;
    box-sizing: border-box;
    transition: border 0.2s;
  }

  .imgDiv{
    height: 275px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }

  .card:hover{
    border: solid 8px white;
    margin-top: 6px;
    img{
      width: 260px; 
      padding: 0px;
      padding-top: 8px;
      padding-bottom: 3px;
    }
    .imgDiv{
      margin-bottom: 10px;
    }


  }

  img{
    display: block;
    margin: auto;
    width: 250px;
    border-radius: 1.2em;
    padding: 10px;
    transition: width 0.4s;
  }

  .tech{
    font-size: 18px;
    font-weight: none;
  }
}