.PortfolioItem{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-areas: "image title"
                       "image links"
                       "image tech"
                       "image description"
                       "image contributionsTitle"
                       "image contributions";
  grid-template-rows: 40px 40px 30px 60px 30px auto;
  grid-gap: 2vw;
  justify-content: stretch;
  

  img{
    grid-area: image;
    width: 40vw;
    border-radius: 1em;
  }

  h2{
    grid-area: title;
    font-size: 36px;
  }

  .links{
    grid-area: links;
    width: 100%;
    text-align: center;
  }

  a{
    margin: 1.5vw;
    padding: 0.75vw;
    font-size: 1.5vw;
    border: 2px solid white;
    color: rgb(1, 41, 41);
    border-radius: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  a:hover{
    background: white;
    color: darkcyan;
  }

  .description{
    grid-area: description;
    font-size: 24px;;
  }

  .tech{
    grid-area: tech;
    font-size: 20px;
  }

  .contributionsTitle{
    grid-area: contributionsTitle;
    font-size: 30px;
  }

  .contributionList{
    grid-area: contributions;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  @media screen and (max-width: 1500px){
    grid-template-areas: "title"
                         "links"
                         "image"
                         "tech"
                         "description"
                         "contributionsTitle"
                         "contributions";
    grid-template-rows: 30px 20px auto 100px 500px;
    grid-template-columns: 1fr;
    justify-content: center;
  }

}