.PortfolioItem{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-areas: "image title"
                       "image links"
                       "image tech"
                       "image description"
                       "image contributions";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: maxcontent;
  justify-content: stretch;
  grid-gap: 1.75vw;
  align-items: center;
  padding: 30px;
  border-radius: 0.3em;
  

  img{
    grid-area: image;
    width: 95%;
    border-radius: 0.2em;
  }

  h2{
    grid-area: title;
    font-size: 36px;
  }

  .links{
    grid-area: links;
    width: 100%;
    text-align: center;
  }

  a{
    margin: 1.5vw;
    padding: 0.75vw;
    font-size: 1.5vw;
    color: rgb(1, 41, 41);
    background: rgb(174, 212, 209);
    border-radius: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
  }

  a:hover{
    background: white;
    color: darkcyan;
  }

  .description{
    grid-area: description;
    font-size: 20px;
  }

  .tech{
    grid-area: tech;
    font-size: 20px;
  }

  .row{
    grid-area: row;
    color: blue;
    background: blue;
    border: 2px solid blue;
  }

  .contributionsContainer{
    grid-area: contributions;
    padding: 20px;
  }

  .contributionsTitle{
    font-size: 30px;
    margin-bottom: 20px;
  }

  .contributionList{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 90%;
    padding-left: 10px;
    margin-left: 3vw;
    margin-right: 20px;
  }

  ul{
    list-style: disc;
    line-height: 30px;
  }

  @media screen and (max-width: 1200px){
    grid-template-areas: "title"
                         "links"
                         "image"
                         "tech"
                         "description"
                         "contributions";
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 10px;

    h2{
      font-size: 5vw;
    }

    .links{
      margin-top: 3vw;
      margin-bottom: 3vw;
    }

    a{
      margin: 3vw;
      padding: 1.5vw;
      padding-left: 2.5vw;
      padding-right: 2.5vw;
      font-size: 3vw;
    }

    img{
      width: 90%;
      margin: auto;
    }

    .tech{
      margin: 20px;
    }

    .description{
      margin-bottom: 15px;
    }
  }

}