.Connect{
  margin: auto;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  background: rgb(186, 216, 214);
  padding: 20px;
  border-radius: 0.2em;

  a{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: rgb(36, 107, 96);
    text-decoration: none;
  }

  img{
    width: 6vw;
    margin-right: 2.5vw;
    margin-left: 2vw;
  }

  .email{
    font-size: 2vw;
  }

  @media screen and (max-width: 450px){
    width: 80%;
    img{
      width: 60px;
    }
    a{
      font-size: 30px;
    }
    .email{
      font-size: 16px;
    }
  }
}