.About{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border: white solid 2px;
  border-radius: 1em;
  padding: 20px;

  p{
    font-size: 4vw;
    line-height: 5vw;
  }

  @media screen and (min-width: 600px){
    p{
      font-size: 24px;
      line-height: 34px;
    }
  }
}