.About{
  width: 80%;
  margin: auto;
  margin-top: 25px;
  border-radius: 0.2em;
  background: rgb(68, 67, 67);
  padding: 25px;

  img{
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    border: 3px white solid;
  }

  p{
    text-align: left;
    font-size: 20px;
    line-height: 24px;
  }

  @media screen and (min-width: 1000px){
    width: 35%;
    img{
      width: 25%;
      float: left;
      margin-right: 30px;
      margin-bottom: 0px;
    }
    p{
      font-size: 20px;
      line-height: 26px;
    }
  }
}