.NavigationBar{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-top: 10px;
  
  .NavLink{
    color:  rgb(68, 67, 67);
    background: rgb(211, 210, 210);
    border-radius: .6em;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  .NavLink:hover{
    color: white;
    background:rgb(68, 67, 67);
  }
  .activeNavLink{
    color: white;
    background: rgb(68, 67, 67);
    outline: none;
  }

  @media screen and (max-width: 600px){
    justify-content: center;

    .NavLink{
      font-size: 20px;
    }
  }
}