.Header{
  background: darkcyan;
  border: solid 1px darkcyan;

  h1{
    margin: 20px;
    font-size: 5vw;
    color: white;
    font-weight: bold;
  }

  h2{
    margin-bottom: 10px;
    font-size: 3.5vw;
    color: white;
  }
}