.Header{
  margin-bottom: 3vw;

  .Link{
    text-decoration: none;
  }

  h1{
    margin: 10px;
    font-size: 4vw;
    color: rgb(68, 67, 67);
  }

  h2{
    margin-bottom: 5px;
    font-size: 2vw;
    color: rgb(68, 67, 67);
  }

  @media screen and (max-width: 600px){
    h1{
      font-size: 28px;
    }
    h2{
      font-size: 20px;
    }
  }
}