.Header{
  margin-bottom: 3vw;
  h1{
    margin: 10px;
    font-size: 4vw;
    color: white;
  }

  h2{
    margin-bottom: 5px;
    font-size: 2vw;
    color: white;
  }

  @media screen and (max-width: 600px){
    h1{
      font-size: 24px;
    }
    h2{
      font-size: 18px;
    }
  }
}