body{
  margin: auto;
  background: rgb(178, 194, 209);

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  Link {
    font-family: Arial, Helvetica, sans-serif;
  }
}